body {
  font-family:"Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;

}
.logo{
  width: 100px;
  height: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #364BE7;
  color: #fff;
  border-radius: 8px;
}

.nav-links {
  display: none;
  list-style: none;
  flex-direction: column;
  background: #333;
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  padding: 0;
}

.nav-links li {
  border-bottom: 1px solid #444;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

.menu-toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.hero {
  padding: 2rem;
  background: #f5f5f5;
  text-align: center;
}

.gallery {
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  padding: 1rem;
  background: #364BE7;
  border-radius:20px;
  text-align: center;
  color: #f5f5f5;

}

.imagen-avatar img{
  width: 300px;
  height: auto;
  border-radius: 20px;
}

/* Desktop */
@media (min-width: 768px) {
  .nav-links {
    display: flex;
    position: static;
    flex-direction: row;
    background: none;
  }
  .menu-toggle {
    display: none;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
