body{
   background-color: #A1EDE1;
   font-family: "Permanent Marker", cursive;
   font-weight: 1000;
   font-size: xx-large;
   color: black;
}
h1{
    font-family: "Permanent Marker", cursive;
   font-weight: 1000;
   font-size: xx-large;
   color: black;
   text-align: center;
}

.header{
    background-color: #C3DED6;
}

.logo{
    text-align: center;
    font-size: xx-large;
    font-weight: none;
}

.nav{
    width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

main{
    font-family: "Atma", system-ui;
    font-style: normal;
    font-size: medium;
    font-weight: 400;
    background-color: #CCFFF5;
}

.subrayado{
    text-decoration: underline;
}

.SobreMi p{
    margin: 0;
}
.exp p{
    margin: 0;
}
.fecha{
    text-decoration: underline;
}

.lista-contacto {
  list-style: none;      /* Quita los puntos */
  padding: 0;            /* Elimina espaciado interno */
  margin: 0;             /* Elimina espacio extra */
  display: flex;         /* Los pone en línea horizontal */
  gap: 20px;             /* Espacio entre elementos */
}
.lista-contacto li a {
  text-decoration: none; /* Quita el subrayado */
  color: black;          /* Color del texto */
  font-weight: bold;     /* Negrita */
}

.lista-contacto li a:hover {
  color: blue;           /* Cambia color al pasar el mouse */
}